<div style="display:flex;align-items:center;justify-content:center;flex-direction:column;padding:18px 0;">
<h1 style="font-family: 'Segoe UI', Roboto, Arial; font-size:48px; margin:0; background: -webkit-linear-gradient(90deg,#0f172a,#4f46e5); -webkit-background-clip: text; color: transparent;">
PYTHON PROGRAMMING BASICS ASSIGNMENT
</h1>
<p style="margin:8px 0 0; color:#334155; font-size:16px;">A concise workbook covering variables, control flow, functions, and core data structures.</p>
</div>

---

<div style="display:flex;gap:12px;flex-wrap:wrap;align-items:center;">
<span style="background:#eef2ff;color:#3730a3;padding:6px 10px;border-radius:8px;font-weight:600;"> Basics</span>
<span style="background:#ecfdf5;color:#065f46;padding:6px 10px;border-radius:8px;font-weight:600;">锔 Examples</span>
<span style="background:#fff7ed;color:#92400e;padding:6px 10px;border-radius:8px;font-weight:600;"> Exercises</span>
</div>


<details><summary><strong>Notebook info</strong></summary>

- **Author:** Sandipan Roy
- **Assignment Date:** 2025-12-22
- **Assignment Given By:** Karkavel Raja
- **Sections:** Setup and Basic Operations 路 List Operations 路 Tuple Operations 路 Dictionary Operations 路 Set Operations 路 Conditional Statements 路 Looping Constructs 路 Problem-Solving Tasks 路 Dataset for Practice

</details>

---

<div style="display:flex;align-items:center;justify-content:center;flex-direction:column;padding:18px 0;">
<h2 style="font-family: 'Segoe UI', Roboto, Arial; font-size:38px; margin:0; background: -webkit-linear-gradient(90deg,#0f172a,#4f46e5); -webkit-background-clip: text; color: transparent;">Problem Statement:</h2>

---

<p style="margin:8px 0 0; color:#334155; font-size:16px;">This assignment aims to develop foundational skills in Python programming, covering essential concepts like Lists, Tuples, Dictionaries, Sets, Conditional Statements (if-else), Loops (for and while), and loop control statements (break and continue). By completing this assignment, students will gain hands-on experience in basic Python programming constructs necessary for problem-solving and data handling.</p>
</div>

---

<h3 style="font-family: 'Segoe UI', Roboto, Arial; font-size:28px; margin:0; background: -webkit-linear-gradient(90deg,#0f172a,#4f46e5); -webkit-background-clip: text; color: transparent;">1. Setup and Basic Operations:</h3>
<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Install and set up Python.</u></li>
</ul>
</p>

***Answer:***

We can install and/or use python for the sole purpose of DS-AI-ML by following any of the below alternatives:


1.   Downloading and installing Python Installer:

     *   Download: Go to the official Python website's download page: [Python Download](https://www.python.org/downloads/).
     *   Run Installer: Click the downloaded .exe file.
     *   Crucial Step: On the first screen, check the box that says "Add python.exe to PATH" before clicking anything else. This makes Python accessible from the command line.
     *   Install: Click "Install Now" or "Customize Installation," ensuring pip (package manager) and IDLE (IDE) are selected.
     *   Verification:
         *   Open Command Prompt or it's equivalent and run the below command:
            > python --version
            
              It will show the relevant version of python version which you have installed.


         *   Press Windows key and search for the IDE named IDLE. Click on the search result it will open the IDE there also you will be able to view relevant information about the version of python which you have installed.


---



2.   Downloading VS Code and then installing the python package within it:

     *   Download: Go to the official VS Code download website and download it from there: [VS Code Download](https://code.visualstudio.com/).
     *   Run Installer: Click the downloaded .exe file.
     *   Follow Prompts:
           *   Accept the License Agreement.
           *   Choose your installation location (defaults are usually fine).
           *   Check optional "Add to PATH" or "Create a desktop icon" boxes if desired.
           *   Click Install and then Finish.
     *   Launch: Open VS Code from your Start Menu or Applications folder.
     *   Go to the Extensions view by clicking the square icon on the sidebar or pressing
          > Ctrl+Shift+X
     *   Search for "Python" and install the extension published by Microsoft.
        This extension automatically installs the Pylance language server and
        the Python Debugger extension, which provide advanced features like
        IntelliSense and debugging support.
     *   Verification:
          *   In VS Code, select File > Open Folder... to open a project directory.
          *   Open the Command Palette by pressing
                > Ctrl+Shift+P
          *   Type "Python: Select Interpreter" and select the command.
          *   Choose the Python interpreter you installed earlier from the list.
              The selected interpreter version will be displayed in the
              bottom-right of the VS Code Status Bar.
          *   In the Explorer view, click the "New File" icon and name the file
              with a ".py" extention (e.g, first.py). This tells VS Code to use
              the Python extension for the file's content.
          *   Enter your Python code in the editor and save it, for example:
                > print("Welcome into the world of Python from VS Code")
          *   To run the code, click the Run Python File play button in the
              top-right corner of the editor, or right-click in the editor and
              select Run Python File in Terminal. The output will appear in the
              integrated terminal.



---


3.   Using Google Colaboratory:

      *   Open your Google Drive
      *   Right Click and create a new folder. Give it a meaningful name like "Python_Programming".
      *   Go inside the folder. Again right click and select on the option More-> Google Colaboratory
      *   Change the name of the file from Untitled01.ipynb to your relevant name.
      *   Click on the "+ Code" to add a new cell on the .ipynb file and wirte the below code inside it:
          > print("Welcome into the world of Python from Google Colaboratory")

<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Use print() and input() functions.</u></li>
</ul>
</p>

In [1]:
# print() funtion is one of the system defined function which helps us to print the values
# irrespective of it's data type and prints the given value in the console. By default it
# separates each values with a single blank space and end of each print statement is followed
# by a new line feed in the console/terminal. However, if we want we can overwrite these values.

print("Welcome in the world of programming")

print("Sandipan Roy", 10, 3.14, True)

print("Sandipan Roy", 10, 3.14, True, sep="-", end="\t")
print("In the previous print statement we have overwrriten the default separator and end parameter value.")

Welcome in the world of programming
Sandipan Roy 10 3.14 True
Sandipan Roy-10-3.14-True	In the previous print statement we have overwrriten the default separator and end parameter value.

In [2]:
# The input() function is also a system defined function which helps us to take input
# from the user over the console/terminal. By default the data type of the input value
# is of type string. In case we want to convert the input value into it's proper datatype
# we have to typecast the value.

input("Enter a number:")

Enter a number:2

'2'

<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Assign values to variables and explore different data types</u></li>
</ul>
</p>

In [3]:
# Variables are a place holders of values in the memory. Whatever value we are mentioning
# that is stored in the memory block/address. So the variables are just a reference point to that
# memory address.
# It helps us in reusability and also helps us in achieving ease in programming.

name = input("Enter your name:")
print(f"Hi {name}, welcome into the world of python programming.")
print(type(name))
print(f"Memory location of the value : {id(name)}, it's equivalent hexadecimal memory address is : {hex(id(name))}")
print("=============================================================")

Enter your name:Sandipan Roy
Hi Sandipan Roy, welcome into the world of python programming.
<class 'str'>
Memory location of the value : 138902091293232, it's equivalent hexadecimal memory address is : 0x7e54a9cf6230
=============================================================

In [4]:
num = int(input("Enter a number: "))
print(f"Square of {num} is: {num*num}")

Enter a number: 17
Square of 17 is: 289

In [5]:
# Different basic datatypes in python

num = 1
char = "God Bless Me"
num2 = 10.0
is_valid = True
num3 = 2.5j

print(f"Datatype of the variable 'num' is: {type(num)} and value within it: {num}")
print(f"Datatype of the variable 'num' is: {type(char)} and value within it: {char}")
print(f"Datatype of the variable 'num' is: {type(num2)} and value within it: {num2}")
print(f"Datatype of the variable 'num' is: {type(is_valid)} and value within it: {is_valid}")
print(f"Datatype of the variable 'num' is: {type(num3)} and value within it: {num3}")

Datatype of the variable 'num' is: <class 'int'> and value within it: 1
Datatype of the variable 'num' is: <class 'str'> and value within it: God Bless Me
Datatype of the variable 'num' is: <class 'float'> and value within it: 10.0
Datatype of the variable 'num' is: <class 'bool'> and value within it: True
Datatype of the variable 'num' is: <class 'complex'> and value within it: 2.5j

In [6]:
num/2  # Division operation, output datatype will be float

0.5

In [7]:
num//2 # Integer divission, returns the quotent of the divission operation and datatype is int

0

In [8]:
num%2 # Modulo operation, returns the remainder of the divission operation

1

In [9]:
print(f"{num}:-> {type(num)},Typecasting: {float(num)}:-> {type(float(num))}")  # Original datatype is 'int', typecasted it to 'float'
print(f"{num}:-> {type(num)},Typecasting: {str(num)}:-> {type(str(num))}")      # Original datatype is 'int', typecasted it to 'string'
print(f"{num}:-> {type(num)},Typecasting: {bool(num)}:-> {type(bool(num))}")    # Original datatype is 'int', typecasted it to 'boolean'

1:-> <class 'int'>,Typecasting: 1.0:-> <class 'float'>
1:-> <class 'int'>,Typecasting: 1:-> <class 'str'>
1:-> <class 'int'>,Typecasting: True:-> <class 'bool'>

In [10]:
num2 = 10.5

print(f"{num2}:-> {type(num2)},Typecasting: {int(num2)}:-> {type(int(num2))}")      # Original datatype is 'float', typecasted it to 'int'
print(f"{num2}:-> {type(num2)},Typecasting: {str(num2)}:-> {type(str(num2))}")      # Original datatype is 'float', typecasted it to 'string'
print(f"{num2}:-> {type(num2)},Typecasting: {bool(num2)}:-> {type(bool(num2))}")    # Original datatype is 'float', typecasted it to 'boolean'

10.5:-> <class 'float'>,Typecasting: 10:-> <class 'int'>
10.5:-> <class 'float'>,Typecasting: 10.5:-> <class 'str'>
10.5:-> <class 'float'>,Typecasting: True:-> <class 'bool'>

In [11]:
is_not_valid = False

# Original datatype is 'boolean', typecasted it to 'int'
print(f"{is_not_valid}:-> {type(is_not_valid)},Typecasting: {int(is_not_valid)}:-> {type(int(is_not_valid))}")
# Original datatype is 'boolean', typecasted it to 'string'
print(f"{is_not_valid}:-> {type(is_not_valid)},Typecasting: {str(is_not_valid)}:-> {type(str(is_not_valid))}")
# Original datatype is 'boolean', typecasted it to 'float'
print(f"{is_not_valid}:-> {type(is_not_valid)},Typecasting: {float(is_not_valid)}:-> {type(float(is_not_valid))}")
print("\n")
# Original datatype is 'boolean', typecasted it to 'int'
print(f"{is_valid}:-> {type(is_valid)},Typecasting: {int(is_valid)}:-> {type(int(is_valid))}")
# Original datatype is 'boolean', typecasted it to 'string'
print(f"{is_valid}:-> {type(is_valid)},Typecasting: {str(is_valid)}:-> {type(str(is_valid))}")
# Original datatype is 'boolean', typecasted it to 'float'
print(f"{is_valid}:-> {type(is_valid)},Typecasting: {float(is_valid)}:-> {type(float(is_valid))}")

False:-> <class 'bool'>,Typecasting: 0:-> <class 'int'>
False:-> <class 'bool'>,Typecasting: False:-> <class 'str'>
False:-> <class 'bool'>,Typecasting: 0.0:-> <class 'float'>


True:-> <class 'bool'>,Typecasting: 1:-> <class 'int'>
True:-> <class 'bool'>,Typecasting: True:-> <class 'str'>
True:-> <class 'bool'>,Typecasting: 1.0:-> <class 'float'>

In [12]:
str1 = "123"

print(f"{str1}:-> {type(str1)},Typecasting: {int(str1)}:-> {type(int(str1))}")      # Original datatype is 'float', typecasted it to 'int'
print(f"{str1}:-> {type(str1)},Typecasting: {float(str1)}:-> {type(float(str1))}")  # Original datatype is 'string', typecasted it to 'float'
print(f"{str1}:-> {type(str1)},Typecasting: {bool(str1)}:-> {type(bool(str1))}")    # Original datatype is 'float', typecasted it to 'boolean'

123:-> <class 'str'>,Typecasting: 123:-> <class 'int'>
123:-> <class 'str'>,Typecasting: 123.0:-> <class 'float'>
123:-> <class 'str'>,Typecasting: True:-> <class 'bool'>

In [13]:
# The above typecasting operation on string variable specifically for the numeric datatype typecasting
# was successful because the value contained inside the variable 'str1' was of type numeric. If, we had
# done the same operation on the variable 'char' declared earlier it would have thrown error.
# The only typecasting which can be performed on the variable 'char' is converting it to boolean, since it's
# having some value.

print(f"{char}:-> {type(char)},Typecasting: {bool(char)}:-> {type(bool(char))}")

God Bless Me:-> <class 'str'>,Typecasting: True:-> <class 'bool'>

In [14]:
# 'None' is a special type of data, which represents nothing; or in other words when there is no value
# then it means its value is None.

print(f"{None}:-> {type(None)},Typecasting: {bool(None)}:-> {type(bool(None))}")

None:-> <class 'NoneType'>,Typecasting: False:-> <class 'bool'>

<h3 style="font-family: 'Segoe UI', Roboto, Arial; font-size:28px; margin:0; background: -webkit-linear-gradient(90deg,#0f172a,#4f46e5); -webkit-background-clip: text; color: transparent;">2. List Operations:</h3>
<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Create a list and perform basic operations like append(), remove(), pop(), and slicing.</u></li>
</ul>
</p>

In [15]:
# List is one of the derived datatypes in python. It is capable of storing more than one value
# all together. List can be created -
#   1. by instantiating a variable with the list() method
#   2. by assigning a variable with []
# We can either left them with no values or at the time of creation only we can assign values.
# List are mutable in nature, i.e., we can add, update or remove values inside a list object/variable.
# Another feature of list is it can store duplicate values as well.

lst = list()
print(type(lst), lst)

lst = list([1,"God",3.14, True])
print(type(lst), lst)

lst = []
print(type(lst), lst)

lst = [1,2,3, "God", 3.14, False, -10]
print(type(lst), lst)

<class 'list'> []
<class 'list'> [1, 'God', 3.14, True]
<class 'list'> []
<class 'list'> [1, 2, 3, 'God', 3.14, False, -10]

In [16]:
lst01 = list(range(10))
lst01

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
# In this section we have used 3 important methods and functions for list operation.
#     1. len():- the len() function calculates the number of elements or values which
#        are stored within a variable
#     2. append():- the append() method adds one element/value at the end of the list
#     3. insert():- the insert() method inserts a value in the given index within a list.
#        However, the given index should be proper, else it will throw an error.

lst1 = []
print(len(lst1), "List:", lst1)

lst1.append(1)
print(len(lst1), "List:", lst1)
lst1.append(2)
lst1.append(3)
print(len(lst1), "List:", lst1)
lst1.insert(0, 0)
print(len(lst1), "List:", lst1)

0 List: []
1 List: [1]
3 List: [1, 2, 3]
4 List: [0, 1, 2, 3]

In [18]:
# In this section, we have used another important method associated with list- remove().
# The remove() method removes the first occurance of the given value from the list. If
# a list is having multiple duplicate value, then the remove function will only remove
# its first occurance. Remaining values will remain untouched.

lst2 = [1,2,3,4,5,6]
print(type(lst2), "List:", lst2)
lst2.append(2)
print("List:", lst2)

# Section:- List.remove(value)
lst2.remove(2)
print("List:", lst2)

lst2.remove(3)
print(lst2)

<class 'list'> List: [1, 2, 3, 4, 5, 6]
List: [1, 2, 3, 4, 5, 6, 2]
List: [1, 3, 4, 5, 6, 2]
[1, 4, 5, 6, 2]

In [19]:
# In this section we have used another useful important method of list- pop().
# The pop() method removes items from the last position of the list and returns the removed value.
# It performs on reverse indexing over the list. It accepts one optional parameter
# value for this reverse index and it's default value is -1.

lst2.append(3)
print("List:", lst2)

print("Removed value:", lst2.pop())
print("List:", lst2)

print("Removed value:", lst2.pop(-2))
print("List:", lst2)

List: [1, 4, 5, 6, 2, 3]
Removed value: 3
List: [1, 4, 5, 6, 2]
Removed value: 6
List: [1, 4, 5, 2]

In [20]:
# In this section we have used another important method of list - sort(); which is
# capabple of ordering the list items. The ordering takes in-place, i.e., the list
# itself is ordered and the method returns None.

print(f"Before sorting: {lst2}")
lst2.sort()
print(f"After sorting: {lst2} \n")

Before sorting: [1, 4, 5, 2]
After sorting: [1, 2, 4, 5]

In [21]:
# In this section we have used one important function- sorted(). This function is
# capable of sorting any iterable data and return a new ordered data rather than
# modifying the original iterable data.

lst2 = [1,2,3,4,5,6, -1,-2,-3,-4,-5,-6,0]
lst3 = sorted(lst2)
print(f"Original list: {lst2}")
print(f"New Sorted list: {lst3}")

Original list: [1, 2, 3, 4, 5, 6, -1, -2, -3, -4, -5, -6, 0]
New Sorted list: [-6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6]

In [22]:
lst4 = [0, 1, 2, 3, 4, 5, 6]
lst5 = [-6, -5, -4, -3, -2, -1]

# Indexing in the python programming follows 2 thumb rules:
#     1. The index of first element of an iterable ordered data is zero and then
#        it increases by one. In other words it follows a simple mathematical formula:
#               index = Position - 1
#        So when we are refering to the first element of a list, then
#            Position = 1
#            Index = Position - 1 = 1-1 = 0
#
#     2. If we are willing to traverse any iterable ordered data from the back which
#        is also refered as reverse indexing then the index value starts as:
#            index = Position from last * -1
#        So when we are refering the last element of the list, which is basically
#        the first element from the last then:
#            Position from the end = 1
#            index = Position from the end * -1 = 1 * (-1)= -1
#        Similarly the second element index value in this particular scenario will be -2.
#
# In the above we can see 2 list variables. For the understanding purpose only I've
# assigned values based on the indexing logic of python programming.
# "lst4"- represents the forward index positioning logic and "lst5"- represents
# the reverse index logic.

# Slicing in iterable ordered data works on
#    [starting index : ending index : step size]
# Operationally we can define it like- first it will pick up the element in the
# as mentioned as "starting index" position element; then it will increment the index
# value by the "step size" and will move forward till it reaches the "ending index" - 1 th
# position.
# Note: The "ending index" value always excludes that index position element
#       and the "step size" always represents the incremental factor, which determines
#       which element to pick up next

#-------------------------------------------------------------------------------------
# Slicing by forward index
#-------------------------------------------------------------------------------------

print("Forward Indexing")
print("----------------------------------------------------\n")
# This slicing will fetch data from 0th index to 3rd index without skipping any element
# i.e, it will first pickup the 0 then 1 then 2 then 3
print(lst4[0:4])
# This slicing will fetch data from the starting index to 3rd index (4-1) index, i.e.,
# it will first pickup the 0 then 1 then 2 then 3
print(lst4[:4])
# This slicing will pick up from the 1st index till the last element of the index without
# skipping any element in between.i.e, the output will be 0,1,2,3,4,5,6.
print(lst4[1::1])
# This slicing will pick up from the 0th index till the last index and will not skip any
# index position. In other words it will print all the elements in the list
print(lst4[::])
# This slicing will start from 0th index and increment the index positional value by 2
# thus skipping every alternative numbers. The output will be 0,2,4,6
print(lst4[::2])

#-------------------------------------------------------------------------------------
# Slicing by reverse indexing
#-------------------------------------------------------------------------------------

# In case of reverse indexing we always has to mention the step size which will be in
# this case a  negative number else it will through an error.
# If we want to fetch each and every item from the list in reverse order then the step
# size will be -1. Similarly we want to fetch alternative values then it will be -2.
# For starting index as well as ending index they will also negative values.

print("----------------------------------------------------\n")
print("Reverse Indexing")
print("----------------------------------------------------\n")
print(lst5[-1::-1])
print(lst5[-1:-4:-1])
print(lst5[-1::-2])
print(lst5[::-1])

Forward Indexing
----------------------------------------------------

[0, 1, 2, 3]
[0, 1, 2, 3]
[1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6]
[0, 2, 4, 6]
----------------------------------------------------

Reverse Indexing
----------------------------------------------------

[-1, -2, -3, -4, -5, -6]
[-1, -2, -3]
[-1, -3, -5]
[-1, -2, -3, -4, -5, -6]

<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Iterate over a list using loops.</u></li>
</ul>
</p>

In [23]:
for v in lst2:
  print(v)

1
2
3
4
5
6
-1
-2
-3
-4
-5
-6
0

<h3 style="font-family: 'Segoe UI', Roboto, Arial; font-size:28px; margin:0; background: -webkit-linear-gradient(90deg,#0f172a,#4f46e5); -webkit-background-clip: text; color: transparent;">3. Tuple Operations:</h3>
<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Create and access tuple elements.<u></li>
</ul>
</p>

In [24]:
tup1 = ((1,2,3,4,5,6))
tup2 = tuple((1,2,3,4,5,6))

print(type(tup1), "-->", tup1)
print(type(tup2), "-->", tup2)

<class 'tuple'> --> (1, 2, 3, 4, 5, 6)
<class 'tuple'> --> (1, 2, 3, 4, 5, 6)

In [25]:
for i in range(len(tup1)):
  print(f"{i}-->{tup1[i]}")

for x in tup2:
  print(x)

0-->1
1-->2
2-->3
3-->4
4-->5
5-->6
1
2
3
4
5
6

<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Understand the immutability of tuples.</u></li>
</ul>
</p>

In [26]:
# Tuples are immutable in nature. It means we cannot modify the elemental values
# stored within a tuple. However, we can change the reference point in tuples
# by completely re-assigning it or by creating a new tuple.

print(tup1[0])  # This will print the zeroth index element of the tuple

# E.g., the below line of code (blocked) if executed will through error, whereas the same
# operation is allowed in list.

# tup1[0]= 14

print(tup1[1])  # This will print the first index element of the tuple

# However the below operation is valid. The reason is we are changing
# the entire reference point of the tuple variable.

tup1 = (1,2,3,4, [7,8,9,10], "God", False)
print(tup1)

1
2
(1, 2, 3, 4, [7, 8, 9, 10], 'God', False)

<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Use tuple unpacking.</u></li>
</ul>
</p>

In [27]:
tup1 = (1,2,3)
print(type(tup1), tup1)

# Unpacking of Tuple
x0, x1_M, xN = tup1
print(x0)
print(x1_M)
print(xN)

<class 'tuple'> (1, 2, 3)
1
2
3

<h3 style="font-family: 'Segoe UI', Roboto, Arial; font-size:28px; margin:0; background: -webkit-linear-gradient(90deg,#0f172a,#4f46e5); -webkit-background-clip: text; color: transparent;">4. Dictionary Operations:</h3>
<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Create a dictionary with key-value pairs.</u></li>
</ul>
</p>

In [28]:
student_data = [
    {"name": "Alice", "marks": 92},
    {"name": "Bob", "marks": 88},
    {"name": "Charlie", "marks": 76},
    {"name": "David", "marks": 95}
]

print(type(student_data))

<class 'list'>

<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Perform operations like adding, updating, and deleting key-value pairs.</u></li>
</ul>
</p>

In [29]:
dict1 = {"name": "Alice", "marks": 92}
dict1["section"] = "A"
dict1["marks"] = 75

print(dict1)
del dict1["section"]
print(dict1)

{'name': 'Alice', 'marks': 75, 'section': 'A'}
{'name': 'Alice', 'marks': 75}

<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Iterate through a dictionary using loops.</u></li>
</ul>
</p>

In [30]:
print(type(student_data))

for elem in student_data:
  print(type(elem), end="\t")
  for k,v in elem.items():
    print(f"{k}: {v}", end="\t")
  print()

<class 'list'>
<class 'dict'>	name: Alice	marks: 92
<class 'dict'>	name: Bob	marks: 88
<class 'dict'>	name: Charlie	marks: 76
<class 'dict'>	name: David	marks: 95

<h3 style="font-family: 'Segoe UI', Roboto, Arial; font-size:28px; margin:0; background: -webkit-linear-gradient(90deg,#0f172a,#4f46e5); -webkit-background-clip: text; color: transparent;">5. Set Operations:</h3>
<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Create a set and perform operations like union, intersection, and difference.</u></li>
</ul>
</p>

In [31]:
s1 = {1,2,3,4,5}
s2 = set({3,4,5,6,7,8,9})

print(type(s1), s1)
print(type(s2), s2)
print("\n---------Union-----------")
print(s1.union(s2))
print("\n------Intersection-------")
print(s1.intersection(s2))
print("\n--------Difference-------")
print(f"Set1 Difference Set2 = {s1.difference(s2)}")
print(f"Set2 Difference Set1 = {s2.difference(s1)}")

<class 'set'> {1, 2, 3, 4, 5}
<class 'set'> {3, 4, 5, 6, 7, 8, 9}

---------Union-----------
{1, 2, 3, 4, 5, 6, 7, 8, 9}

------Intersection-------
{3, 4, 5}

--------Difference-------
Set1 Difference Set2 = {1, 2}
Set2 Difference Set1 = {8, 9, 6, 7}

<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Understand the uniqueness property of sets.</u></li>
</ul>
</p>

In [35]:
s1 = {1,2,3,4,5}
s2 = set({3,4,5,6,7,8,9})

print(s1, s2, sep="\n")

s4= {1,2,3, (4,5,6,7), "God", 3,4,5,1,2}
print(type(s4), s4)

{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7, 8, 9}
<class 'set'> {1, 2, 3, 4, 5, (4, 5, 6, 7), 'God'}

<h3 style="font-family: 'Segoe UI', Roboto, Arial; font-size:28px; margin:0; background: -webkit-linear-gradient(90deg,#0f172a,#4f46e5); -webkit-background-clip: text; color: transparent;">6. Conditional Statements:</h3>
<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Implement if-else conditions for decision-making.<u></li>
</ul>
</p>

In [36]:
n = int(input("Enter a number: "))

if n%2==0:
  print(f"{n} is an even number")
else:
  print(f"{n} is an odd number")

Enter a number: 37
37 is an odd number

<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Use nested if-else conditions for complex logic.</u></li>
</ul>
</p>

In [37]:
n = int(input("Enter a number: "))

if n <= 2 and n > 0:
  if n%2==0:
    print(f"{n} is an even number")
  else:
    print(f"{n} is an odd number")
else:
  if n%2==0:
    print(f"{n} is an even number")
  else:
    print(f"{n} is an odd number")
    up_limit = n//2 + 1
    isPrime = True
    for i in range(2,up_limit):
      if n%i == 0:
        isPrime = False
        break
      else:
        continue
  if isPrime:
    print(f"{n} is a Prime number.")

Enter a number: 5
5 is an odd number
5 is a Prime number.

<h3 style="font-family: 'Segoe UI', Roboto, Arial; font-size:28px; margin:0; background: -webkit-linear-gradient(90deg,#0f172a,#4f46e5); -webkit-background-clip: text; color: transparent;">7. Looping Constructs:</h3>
<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Use for loops to iterate over lists, tuples, and dictionaries.</u></li>
</ul>
</p>

In [38]:
lst2 = [1,2,3,4,5,6]

for n in lst2:
  print(n)

student_data = [
    {"name": "Alice", "marks": 92},
    {"name": "Bob", "marks": 88},
    {"name": "Charlie", "marks": 76},
    {"name": "David", "marks": 95}
]

for elem in student_data:
  print(type(elem), end="\t")
  for k,v in elem.items():
    print(f"{k}: {v}", end="\t")
  print()

tup1 = (1,2,3,4, [7,8,9,10], "God", False)
for i in tup1:
  print(i)

1
2
3
4
5
6
<class 'dict'>	name: Alice	marks: 92
<class 'dict'>	name: Bob	marks: 88
<class 'dict'>	name: Charlie	marks: 76
<class 'dict'>	name: David	marks: 95
1
2
3
4
[7, 8, 9, 10]
God
False

<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Use while loops for repeating tasks.<u></li>
</ul>
</p>

In [39]:
lst2 = [1,2,3,4,5,6]
lst_len = len(lst2)
i=0
while i < lst_len:
  print(lst2[i])
  i += 1

student_data = [
    {"name": "Alice", "marks": 92},
    {"name": "Bob", "marks": 88},
    {"name": "Charlie", "marks": 76},
    {"name": "David", "marks": 95}
]

dictLst_len = len(student_data)
i=0
while i < dictLst_len:
  dict1 = student_data[i]
  j=0
  while j < len(dict1.keys()):
    print(f"{list(dict1.keys())[j]} --> {list(dict1.values())[j]}", end="\t")
    j += 1
  print()
  i += 1

tup1 = (1,2,3,4, [7,8,9,10], "God", False)
tup_len = len(tup1)
i=0
while i < tup_len:
  print(tup1[i])
  i += 1

1
2
3
4
5
6
name --> Alice	marks --> 92
name --> Bob	marks --> 88
name --> Charlie	marks --> 76
name --> David	marks --> 95
1
2
3
4
[7, 8, 9, 10]
God
False

<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Implement break and continue statements to control loops.</u></li>
</ul>
</p>

In [40]:
n = int(input("Enter a number: "))

up_limit = n//2 + 1
isPrime = True
for i in range(2,up_limit):
  if n%i == 0:
    isPrime = False
    break
  else:
    continue
if isPrime:
  print(f"{n} is a Prime number.")
else:
  print(f"{n} is not a Prime number.")

Enter a number: 30195
30195 is not a Prime number.

<h3 style="font-family: 'Segoe UI', Roboto, Arial; font-size:28px; margin:0; background: -webkit-linear-gradient(90deg,#0f172a,#4f46e5); -webkit-background-clip: text; color: transparent;">8. Problem-Solving Tasks:</h3>
<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Write a Python program to find the largest number in a list.</u></li>
</ul>
</p>

In [41]:
def getLargestNumber(lst):
  n = len(lst)
  if n == 1:
    return lst[0]
  else:
    max_num = lst[0]
    for num in lst[1:]:
      if num > max_num:
        max_num = num
    return max_num


if __name__=="__main__":
  is_valid_data =False

  while not is_valid_data:

    entered_values = input("Enter numbers separated by space:")

    num_lst = [int(x) for x in entered_values.split() if x.isnumeric()]

    if len(num_lst) == 0 or len(num_lst) < len(entered_values.split()):
      print("Please enter numbers only separated by space.")
    else:
      is_valid_data = True

  print(getLargestNumber(num_lst))

Enter numbers separated by space:1 2 4 8 9 195
195

<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Write a Python program to count the frequency of elements in a list.</u></li>
</ul>
</p>

In [42]:
def element_frequency(string):
  """ The purpose of this fuction will be to
  return the character frequency in the given string """
  s1=str(string.lower()).replace(" ","")
  char_dict = dict()
  for c in s1:
    if char_dict.get(c)==None:
      char_dict[c] = 1
    else:
      char_dict[c] += 1

  for k,v in char_dict.items():
    print(f"'{k}':-> {v} time(s)")

if __name__=="__main__":
  entered_values = input("Please enter the elements:")
  element_frequency(entered_values)

Please enter the elements:God Bless Me
'g':-> 1 time(s)
'o':-> 1 time(s)
'd':-> 1 time(s)
'b':-> 1 time(s)
'l':-> 1 time(s)
'e':-> 2 time(s)
's':-> 2 time(s)
'm':-> 1 time(s)

<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Create a dictionary that stores student names as keys and marks as values, then find the student with the highest marks.</u></li>
</ul>
</p>

In [43]:
student_marks = {
    "Alice": 90,
    "Bob": 88,
    "Charlie": 76,
    "David": 91
}

topper = max(student_marks, key=student_marks.get)
print(f"{topper} :-> {student_marks[topper]}")

David :-> 91

In [44]:
student_marks = {
    "Alice": 90,
    "Bob": 88,
    "Charlie": 76,
    "David": 91,
    "Charles": 91
}

max_key = []
max_val = None

for k,v in student_marks.items():
  if max_val == None:
    max_key.append(k)
    max_val = v
  elif max_val < v:
    max_key.clear()
    max_key.append(k)
    max_val = v
  elif max_val == v:
    max_key.append(k)

print(f"{max_key} :-> {max_val}")

['David', 'Charles'] :-> 91

<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Implement a while loop to print the Fibonacci series up to a given number.</u></li>
</ul>
</p>

In [47]:
def fibonacci_series(num):
  fib_lst = []
  a = 0
  b = 1

  fib_lst.append(a)

  if num == 1:
    pass
  elif num > 1:
    n = 1
    while n < num:
      fib_lst.append(b)
      a, b = b, a + b
      n += 1

  return fib_lst

if __name__ == "__main__":
  fib_lst = []
  try:
    num = int(input("Please enter a number: "))

    if num > 0:
      fib_lst = fibonacci_series(num)

    print(f" First {num} elements in Fibonacci Series: {fib_lst}")
  except:
    print("Please enter a valid number.")

Please enter a number: 10
 First 10 elements in Fibonacci Series: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Use a set to remove duplicate elements from a list.</u></li>
</ul>
</p>

In [49]:
l1= [1,2,3, (4,5,6,7), "God", 3,4,5,1,2]
print(l1)
set1 = set(l1)
print(f"Unique item(s) in the list: {list(set1)}")

[1, 2, 3, (4, 5, 6, 7), 'God', 3, 4, 5, 1, 2]
Unique item(s) in the list: [1, 2, 3, 4, 5, 'God', (4, 5, 6, 7)]

<h3 style="font-family: 'Segoe UI', Roboto, Arial; font-size:28px; margin:0; background: -webkit-linear-gradient(90deg,#0f172a,#4f46e5); -webkit-background-clip: text; color: transparent;">Dataset for Practice:
</h3>
<p style="margin:8px 0 0; color:#334155; font-size:16px;">While this assignment focuses on Python basics, students can use small sample datasets manually created in dictionaries or lists for practice. Examples:
<ul>
<li><u>A dictionary of student names and marks.</u></li>
</ul>
</p>

In [50]:
student_data = [
    {"name": "Alice", "mark1": 92, "mark2": 80},
    {"name": "Bob", "mark1": 88, "mark2": 92},
    {"name": "Charlie", "mark1": 76, "mark2": 92},
    {"name": "David", "mark1": 95, "mark2": 72}
]

for elem in student_data:
  elem["total"] = elem["mark1"] + elem["mark2"]

print(student_data)

[{'name': 'Alice', 'mark1': 92, 'mark2': 80, 'total': 172}, {'name': 'Bob', 'mark1': 88, 'mark2': 92, 'total': 180}, {'name': 'Charlie', 'mark1': 76, 'mark2': 92, 'total': 168}, {'name': 'David', 'mark1': 95, 'mark2': 72, 'total': 167}]

<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>A list of numbers for performing mathematical operations.</u></li>
</ul>
</p>

In [2]:
lst2 = [1,2,3,4,5,6]

for i in range(0, len(lst2)):
  lst2[i]= lst2[i] * 2

print(lst2)

[2, 4, 6, 8, 10, 12]