<div style="display:flex;align-items:center;justify-content:center;flex-direction:column;padding:18px 0;">
<h1 style="font-family: 'Segoe UI', Roboto, Arial; font-size:48px; margin:0; background: -webkit-linear-gradient(90deg,#0f172a,#4f46e5); -webkit-background-clip: text; color: transparent;">
NUMPY, PANDAS, MATPLOTLIB AND SEABORN ASSIGNMENT
</h1>
<p style="margin:8px 0 0; color:#334155; font-size:16px;">A concise workbook covering foundational skills in using NumPy, Pandas, Matplotlib and Seaborn, the essential libraries for data manipulation in Python.</p>
</div>

---

<div style="display:flex;gap:12px;flex-wrap:wrap;align-items:center;">
<span style="background:#eef2ff;color:#3730a3;padding:6px 10px;border-radius:8px;font-weight:600;">üìò Basics</span>
<span style="background:#ecfdf5;color:#065f46;padding:6px 10px;border-radius:8px;font-weight:600;">‚öôÔ∏è Examples</span>
<span style="background:#fff7ed;color:#92400e;padding:6px 10px;border-radius:8px;font-weight:600;">üîÅ Exercises</span>
</div>


<details><summary><strong>Notebook info</strong></summary>

- **Author:** Sandipan Roy
- **Assignment Date:** 2026-01-07
- **Assignment Given By:** Karkavel Raja
- **Sections:** DataFrame Operations ¬∑ Data Preprocessing & Transformation Operations ¬∑ Exploratory Data Analysis (EDA) ¬∑ Fine-tuning and Optimization

</details>

---

<div style="display:flex;align-items:center;justify-content:center;flex-direction:column;padding:18px 0;">
<h2 style="font-family: 'Segoe UI', Roboto, Arial; font-size:38px; margin:0; background: -webkit-linear-gradient(90deg,#0f172a,#4f46e5); -webkit-background-clip: text; color: transparent;">Problem Statement:</h2>

---

<p style="margin:8px 0 0; color:#334155; font-size:16px;">This assignment aims to develop foundational skills in using NumPy, Pandas, Matplotlib, and Seaborn for data manipulation, analysis, and visualization. Students will explore these libraries to perform various operations on numerical and tabular data, as well as create insightful visualizations. By completing this assignment, students will gain hands-on experience with array operations, data handling, and data visualization techniques necessary for data analysis and machine learning.</p>
</div>

---

<div style="display:flex;align-items:center;justify-content:center;flex-direction:column;padding:18px 0;">
<h2 style="font-family: 'Segoe UI', Roboto, Arial; font-size:38px; margin:0; background: -webkit-linear-gradient(90deg,#0f172a,#4f46e5); -webkit-background-clip: text; color: transparent;">Dataset for the Assignment:</h2>

---

<p style="margin:8px 0 0; color:#334155; font-size:16px;">


1.   [Iris Dataset | Kaggle](https://www.kaggle.com/datasets/himanshunakrani/iris-dataset)
2.   [Titanic Dataset | Kaggle](https://www.kaggle.com/c/titanic/data?select=train.csv)
3.   [Restaurant Tips Dataset | Kaggle](https://www.kaggle.com/datasets/saurabhbadole/restaurant-tips-dataset)


</p>
</div>

---

<h3 style="font-family: 'Segoe UI', Roboto, Arial; font-size:28px; margin:0; background: -webkit-linear-gradient(90deg,#0f172a,#4f46e5); -webkit-background-clip: text; color: transparent;">1. Setup and Data Preparation:</h3>
<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Import necessary libraries: NumPy, Pandas, Matplotlib.</u></li>
</ul>
</p>

***Answer:***

We can install any packages in python with the help of "pip" command. This command is an acronym which stands for "pip installs packages". This command is capable of handling hierarchical dependency resolution in package installation. Suppose we want to install a package "xyz", which internally is dependant on an another package "abc1" which in turn is dependant on an another package "abc2" and so on. So for installing package, the only thing which we have to do is to execute the below command:

          > pip install xyz
            
    The dependency resolver within the pip command will resolve all the heirarchical dependency tree and will install all the necessary packages along with their compatible verssion.

This is where the full form of "pip" which is "pip installs packages" fits in appropriately, where pip in "pip installs packages" itself stands for "pip install packages".

Another way of writing pip command depending on OS and/or IDE is:

    > !pip install xyz
            
Or

    > %pip install xyz
            

So, to install "numpy" package in our environment, we need to execute the command:

    > pip install numpy
            It will install the latest verssion of numpy package in our environment which is compatible with our present python verssion.

Similarly, to install "pandas" package in our environment, we need to execute the command:

    > pip install pandas
            It will install the latest verssion of pacndas package in our environment which is compatible with our present numpy package and python verssion.

So in other words, if we are going to install both numpy and pandas in our system, executing "pip" command for "pandas" only will achieve our objective. Since "pandas" package itself is built upon "numpy" package.
<br/>
<br/>
To use any package the first step involves bringing it's scope within the page, which is done by importing it within the page or file with the use of "import" keyword and or with combination of "from" keyword.

    import xyz
            

Or

    from abc import abc1
            
In this case we will be directly using the keyword import- to bring numpy, pandas, matplotlib and seaborn library within our scope of use.

In [ ]:
!pip install numpy
!pip install pandas
!pip install matplotlib
!pip install seaborn

In [ ]:
# Importing Numpy Library and aliasing it's name as np
import numpy as np
# Importing Pandas Library and aliasing it's name as pd
import pandas as pd
# Importing the Pyplot Interface from within the Matplotlib Library and aliasing it as plt
import matplotlib.pyplot as plt
# The above line of code can also be written as-
#    from matplotlib import pyplot as plt

# Importing Seaborn Library and aliasing it's name as sns
import seaborn as sns

%matplotlib inline
# Importing warning to disable runtime warnings
import warnings
# Warnings will appear only once
warnings.filterwarnings("ignore")


<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Load a dataset for exploration.</u></li>
</ul>
</p>

Data can be obtained and consumed from multiple sources and data source can be also of different types. However, I've enlisted some commonly used data-source types-
<ol style="list-style-type: lower-roman;">
    <li><u>CSV:</u> Most commonly known as comma separated values however, we can also consume data where file is having different separators instead of ',' e.g., '|'.</li>
    <li><u>Excel(.xls,.xlsx):</u> A widely used format, where we receive the data in .xls or .xlsx format</li>
    <li><u>Database (SQL, NoSQL):</u> In most of the live case we have to consume the data from dB which can be relational or file-based(NoSQL). In case of relational dB we will receive the data most-likely in tabular-format & in-case of non-relational/file-based/NoSQL dB we will receive the data .json format.</li>
    <li><u>Web Scrapping:</u> In case of web-scrapping we will provide the URL along with the target table within the web-page, which will act as a data-source for us.</li>
    <li><u>Clean Data Source:</u> We can also comnsume data from some library's internal github repositories.</li>
    <li><u>Others:</u> Apart from the above sources data can be produced and consumed in the course of time of exploring some data or during programming.</li>
</ol>

For this sub-module we will be using seaborn library's github repository as mentioned in our point no. 5.

In [ ]:
# To load a dataset from seaborn library, we use the built-in function load_dataset()
# and passes the name of the dataset as it's parameter. This function provides a quick
# way to access various sample datasets for data analysis and visualization which seaborn
# library has used for it's own documentation and bug fixing purposes.
# Here, we are loading the 'tips' dataset from seaborn library. We can find all the dataset
# which seaborn has used in- https://github.com/mwaskom/seaborn-data , and inside the
# dataset_names.txt we will get the names of all the dataset.

tipsDF = sns.load_dataset(name="tips")

# Another way to check whether our loading and storing data in local variable is successful or
# not can be achieved by using the property 'shape' of a dataframe. This will give
# us the No of Rows and No of Columns in tuple format, which we can cross-check with
# the dB Team or Business or even directly with the datasource.
tipsDF.shape

# In this case the expected ouptput is- (244,7), i.e, 244 Rows and 7 columns


<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Inspect the dataset using Pandas functions like .info(), .describe(), .head().</u></li>
</ul>
</p>

In [ ]:
# The head() function returns the first 'n' rows for the object (in this case
# DataFrame) based on position. It is useful for quickly getting the glimpse of
# the data which we are going to use as well as it also provides understanding
# of the data thus testing whether the object is having the right type of data
# or not.
# By default, when no value is passed within the head() function it returns the
# first 5 rows; however if we pass any other (+)ve number within the head it will
# return the exact number of rows if present.

tipsDF.head()

In [ ]:
# df.info() method prints the information about the DataFrame including
# the index dtype and columns, non-null values and memory usage.
# By default, it considers it's verpose parameter value as True and returns
# the information for al the columns; however, if the value provided for the
# verbose parameter is False it only returns a summarazed information, i.e,- it
# prints a summary of columns count and it's dtypes but not per column
# information.
# Another most important information which it gives us is the memory usage data,
# which can be used for deep introspection for big DF and fine-tuning memory
# optimization with the help of another parameter memory_usange.
tipsDF.info()

In [ ]:
tipsDF.info(verbose=False)

In [ ]:
# Df.describe() generates descriptive statistical data from the dataset.
# It analyzes both numeric and object series, as well as DF column sets of mixed
# data types. The output will vary depending on what is provided.
# One of the important parameter which describe() takes is include- by default
# it's value is 'None', and will consider and display descriptive statistics only
# on numerical fields only.

tipsDF.describe()

In [ ]:
# If include parameter value is provided as'all', then describe() will also
# consider non-numerical columns as well and will display those columns along
# with the numerical columns data.

tipsDF.describe(include="all")

<h3 style="font-family: 'Segoe UI', Roboto, Arial; font-size:28px; margin:0; background: -webkit-linear-gradient(90deg,#0f172a,#4f46e5); -webkit-background-clip: text; color: transparent;">2. NumPy Operations:</h3>
<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Create arrays using np.array(), np.zeros(), np.ones(), np.random.rand().</u></li>
</ul>
</p>

<ol style="list-style-type: lower-roman;">
    <li> <u>np.array()</u></li>
</ol>

In [ ]:
arr1 = np.array([0, 1, 2, 3, 4, 5])

# Shape of the array:
# Returns a tuple representing the dimensions of the array.
print("Shape of arr1:", arr1.shape)
# Size of the array:
# Returns the total number of elements in the array.
print("Size of arr1:", arr1.size)
# Number of dimensions:
# Returns the number of dimensions (axes) of the array.
print("Number of dimensions of arr1:", arr1.ndim)
# Data type of the elements of the array:
# Returns the data type of the elements stored in the array.
print("Data type of arr1:", arr1.dtype)

In [ ]:
# Numpy arrays are homogeneous in nature, meaning all elements in the array must be of the same data type.
# If you try to create an array with mixed data types, NumPy will automatically convert all elements to a
# common data type that can accommodate all values.
# For example, if you mix integers and floats, NumPy will convert all integers to floats to maintain consistency.
# If we mix datatypes that cannot be converted to a common type, NumPy will default to using the most general type,
# which is usually a string (object) type.
# This allows the array to hold elements of different types, but it comes at the cost of performance and memory efficiency.
# In any case if numpy fails to convert, it will raise a ValueError indicating that the conversion is not possible.

arr2 = np.array([1, 2.5, 3, 4.0, 5])
print("arr2:", arr2)
print("Data type of arr2:", arr2.dtype)

arr3 = np.array([1, 'two', 3.0, True])
print("arr3:", arr3)
print("Data type of arr3:", arr3.dtype)

# The above code demonstrates how NumPy handles arrays with mixed data types by converting them to a common type.

# However if we uncomment the below line, it will raise an error because of it's 4th element which is in
# in conflict of the above explained property- conversion into common data type and maintaining it's homogeneous
# nature.
# arr4 = np.array([1, 2, 'three', [4, 5]])

<ol start="2" style="list-style-type: lower-roman;">
    <li><u>np.zeros()</u></li>
</ol>

In [ ]:
# Numpy allows us to create arrays in multiple ways. One of the most common methods is by using
# built-in functions like np.zeros(). It creates an array filled with zeros. So whenever we need an
# array initialized with zeros, we can use this function.


arr5 = np.zeros((3,3))
print("arr5:", arr5)
print("arr5 shape:", arr5.shape, "\t Size:", arr5.size, "\t Dimensions:", arr5.ndim)

<ol start="3" style="list-style-type: lower-roman;">
    <li><u>np.ones()</u></li>
</ol>

In [ ]:
# Another way by which we can create Numpy array is by using built-in function np.ones(). It creates
# an array filled with ones. So whenever we need an array with default value or already filled with
# one, we can use this built-in funtion.

arr6 = np.ones((3,3))
print("arr6:", arr6)
print("arr6 shape:", arr6.shape, "\t Size:", arr6.size, "\t Dimensions:", arr6.ndim)

<ol start="4" style="list-style-type: lower-roman;">
    <li><u>np.random.rand()</u></li>
</ol>

In [ ]:
# np.random.rand() generates and returns random numbers in the range of 0-1 which
# is uniformly distributed and in the given shape.
# If only one value or argument is provided in the np.random.rand() then it will
# generate a 1-dimensional data, if 2 arguments is given it will generate
# 2-dimensional data and so on.

arr7 = np.random.rand(4,5)
print("arr7:", arr7)
print("arr7 shape:", arr7.shape, "\t Size:", arr7.size, "\t Dimensions:", arr7.ndim)


<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Perform element-wise operations and apply mathematical functions.</u></li>
</ul>
</p>

In [ ]:
# Addition operation on 2 arrays
arr2 + arr7

In [ ]:
# Addition operation on individual element of an array with a number
arr2 + 1

In [ ]:
# Below we have created 2 arrays- first array is a multi-dimensional array with
# the shape of 3 rows and 1 column and the second array is a 1D-array consisting
# of 3 elements.

arr8 = np.array([[1],[2],[3]])
arr9 = np.array([4,5,6])
print("arr8: ", arr8, "shape: ", arr8.shape)
print("arr9: ", arr9, "shape: ", arr9.shape)

# So we are trying to do addition operation of 2 arrays which are not in the
# same shape or dimensionality. The structural depiction of the same is given below:
#  [
#    [1],
#    [2],     +  [4, 5, 6]
#    [3]
#  ]

arr8 + arr9

# The resultant output of the above line of code will result in individual
# addition operation on the elements of the array which is similar to matrix
# operation. This is also known as default broadcasting.
# Broadcasting aligns dimensions of arrays to allow element-wise computations
# without explicit data replication, optimizing memory usage.

In [ ]:
# Accessing each element of the array through loop and doing some summation operation

oddSum = 0
evenSum = 0
numSum = 0
print("Array:\n", arr2)
for i in arr2:
  if i%2==0:
    evenSum += i
  else:
    oddSum += i
  numSum = numSum+i
print("Odd Number Sum:", oddSum)
print("Even Number Sum:", evenSum)
print("Summation of all numbers of the array:", numSum)

In [ ]:
# Apart from element wise custom operations we can also use built-in function to
# do mathematical operations which are straight forward.

print("Sum of all elements of the array:", arr2.sum())
print("Average of all elements of the array:", np.mean(arr2))
print("Median of the array:", np.median(arr2))


<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Reshape arrays using .reshape() and concatenate arrays using .hstack() and .vstack().</u></li>
</ul>
</p>

In [ ]:
arr7

In [ ]:
# np.reshape() function is used to change the shape of a NumPy array without
# changing its underlying data. It returns a new array with the specified
# dimensions, while the total number of elements must remain constant.
# The product of the dimensions in the new shape must equal the total number of
# elements in the original array. If not, a ValueError is raised.

np.reshape(arr7, (5,4))

# The above code will create a new array with shape (5,4) i.e., 5 rows and
# 4 columns without effecting the original array.

In [ ]:
print(arr7.shape)
arr7

In [ ]:
# Numpy allows us to concatenate 2 arrays, the pre-requisite of this concatenation
# operation is the dimensionality of the arrays has to match over the given axis,
# else it will through ValueError.

arr10 = np.array([[4,5,6]])
print(f"Array 10 Shape: {arr10.shape} Array 10:")
print(arr10)
print("="*40)
arr11 = np.array([[1,2,3],[7,8,9],[10,11,12]])
print(f"Array 11 Shape: {arr11.shape} Array 11:")
print(arr11)
print("="*40)

print("Concatenation")
print("="*40)
arr12 = np.concatenate((arr10, arr11), axis= 0)
print("Array 10 concatenate Array 11- Axis= 0 or Row-Wise or Vertical Level")
print(arr12)

# For the above scenario, the axis which we have mentioned is 0 i.e., Row-wise
# or concatenation at vertical level. So for this operation to be successfull
# the dimensionality at the row-level has to match.
# However if we will try to concatenate the same array with axis=1 i.e.,
# column-wise or caoncatenate at horizontal-level it will through an error due
# to mismatch of dimensionality at the column level.

print("="*40)
print()
arr13 = np.array([[4],[5],[6]])
print(f"Array 13 Shape: {arr13.shape} Array 13: ")
print(arr13)
print("="*40)
print(f"Array 11 Shape: {arr11.shape} Array 11:")
print(arr11)
print("="*40)

print("Concatenation")
print("="*40)
arr14 = np.concatenate((arr13, arr11), axis= 1)
print("Array 14 concatenate Array 11- Axis= 1 or Column-Wise or Horizontal Level")
print(arr14)


# In simple laymans way how we can explain it w.r.t. the above code is when
# concatenation is happening with axis= 0 then it is actually considering row-wise
# element count, matching it and increase the size of the array vertically or
# increasing the row-count; whereas when axis=1 then it is considering column wise
# element count, matching it and increasing the size of array horizontally or
# increasing the column-count.

In [ ]:
# np.concatenate, np.hstack, and np.vstack all combine arrays, but they differ
# in their primary use cases and how they handle array dimensions.
# np.concatenate is the general-purpose function, while np.hstack and np.vstack
# are specialized, convenience wrappers for horizontal and vertical stacking, respectively.

arr15 = np.hstack((arr13, arr11))
arr16 = np.vstack((arr10, arr11))

# 'arr15' and 'arr14' operation are same and will give the same output. Similarly,
# 'arr16' and 'arr12' operation are same and will give the same output.

print(arr15)
print(arr14)
print("="*40)
print(arr16)
print(arr12)

<h3 style="font-family: 'Segoe UI', Roboto, Arial; font-size:28px; margin:0; background: -webkit-linear-gradient(90deg,#0f172a,#4f46e5); -webkit-background-clip: text; color: transparent;">3. Pandas DataFrame Manipulation:</h3>
<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Read data using pd.read_csv().</u></li>
</ul>
</p>

In [ ]:
# Reading data from a data-source file (in this case .csv), can be divided into
# steps:-
#   i.   Identification of DataSource
#   ii.  Listing the URL/Query in the program
#   iii. Reading the data from the URL with the help of pandas.read_csv() and
#        storing it in a variable.
#   iv.  Once reading is complete, we need to confirm whether data reading is
#        successful or not. This can be achieved by using DataFrame.shape,
#        DataFrame.info(), DataFrame.head() & DataFrame.describe().
#        Though these functions(methods) and attributes has also special use
#        cases but they can be used to serve the above mentioned purpose along
#        with better understanding or better insight of the data.

url = "https://raw.githubusercontent.com/Sandipan-Roy/sr/refs/heads/Dev/Data/RestaurantTipsDataset/tips.csv"
restTipsDF = pd.read_csv(filepath_or_buffer=url)

# In this case, I've downloaded the 3rd given Dataset from Kaggle and uploaded
# in my github repository and used that github link as my URL.

In [ ]:
# To understand what our data in overall will look like we can use df.head().
# This method will display the first 5 rows of the dataframe by default untill
# and unless we are passing any numerical value, depending on which it will
# return the data.

restTipsDF.head()

In [ ]:
# From the below line of code we are getting the shape of the DataFrame, from
# which we are getting the insight that our dataset loading operation has resulted
# in the successful loading of data containing 244 Rows and 7 columns.

restTipsDF.shape

In [ ]:
restTipsDF.info()

# From the above line of code, we are getting the following insights about the
# dataset which we have loaded:
#     1. We are having 7 columns and 244 rows
#     2. There are no missing values for any columns
#     3. Out of 7 columns- 3 columns data are numeric nature (total_bill, tip, size)
#                        - remaining 4 columns are having data type of string which
#                          has been denoted as type object
#        Note: So during the process of EDA, we have to check whether we can convert
#              these string datatypes into numeric datatype or not and that also
#              whether this conversion brings out any useful insight or not.
#     4. Memory Usage for loading this data is approx 13.5Kb


|Dataset| Records | Features | Dataset Size |
| :--: | :--: | :--: | :--: |
| Tips | 244 | 7 | 13.5 KB |


<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Perform operations like selecting columns, filtering rows, and applying functions.</u></li>
</ul>
</p>

In [ ]:
# We've printed the column names in the DataFrame since we are going to use them
# for selecting and getting further insight of the data for the columns
restTipsDF.columns

In [ ]:
restTipsDF["sex"].value_counts()

# Derived insights from the above code:
# 1. The above code returns the frequency of each data value within the column 'sex'
# 2. This column is basically a representative of categorical data.
# 3. From the count- Male= 157 and Female= 87, we can say w.r.t. this column that
#    this dataset is biased.

In [ ]:
restTipsDF["smoker"].value_counts()

# Derived insights from the above code:
# 1. The above code returns the frequency of each data value within the column 'smoker'
# 2. This column is basically a representative of categorical data.
# 3. From the count- Yes= 151 and No= 93, we can say w.r.t. this column that
#    this dataset is biased.

In [ ]:
restTipsDF["time"].value_counts(dropna=False)

# Derived insights from the above code:
# 1. The above code returns the frequency of each data value within the column 'time'
# 2. This column is basically a representative of categorical data.
# 3. From the count- Dinner= 176 and Lunch= 68, we can say w.r.t. this column that
#    this dataset is biased.

**Conclussion:** For the categorical fields data is highly biased. We need to keep in consideration of this while further analysing the data.

In [ ]:
smoker_Female = restTipsDF[(restTipsDF["smoker"]=="Yes") & (restTipsDF["sex"]=="Female")]
smoker_Female.describe()

# From the above code we've tried to derive statistical insights for the data
# Sex= Female and Smoke= Yes. Below are our observations:
#   1. Out of 87 Female customer billing entry, 33 bills shows they are smokers
#   2. Upto 3rd Quartile for this data Size of Team shows 2, Tip is Limited to
#      $3.5 and Total Bill is $22.12
#   3. Min Tip Given is $1 which is individual donation & Max Tip Given is
#      $6.5 which is a group donation.
#   4. Min Total bill is $3.07 which is individual expense & Max Total Bill is
#      $44.30 which is a group expense.
#
# Note: From the above analysis it shows that there can be some outliers in our
#       dataset Tip and Total_bill, but to confirm need further analysis.

In [ ]:

smoker_Male = restTipsDF[(restTipsDF["smoker"]=="Yes") & (restTipsDF["sex"]=="Male")]
smoker_Male.describe()

# From the above code we've tried to derive statistical insights for the data
# Sex= Male and Smoke= Yes. Below are our observations:
#   1. Out of 157 Female customer billing entry, 60 bills shows they are smokers
#   2. Upto 3rd Quartile for this data Size of Team shows 3, Tip is Limited to
#      $3.82 and Total Bill is $28.57
#   3. Min Tip Given is $1 which is individual donation & Max Tip Given is
#      $10 which is a group donation.
#   4. Min Total bill is $7.25 which is individual expense & Max Total Bill is
#      $50.81 which is a group expense.
#
# Note: From the above analysis it shows that there can be some outliers in our
#       dataset w.r.t. Tip and Total_bill, but to confirm need further analysis.

<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Group data using .groupby() and aggregate values.</u></li>
</ul>
</p>

In [ ]:
restTipsDF.groupby(["smoker","sex"])[["total_bill","tip","size"]].agg(["sum","mean","min","max"]).round(2)

In [ ]:
tip_by_size = restTipsDF.groupby("size").agg({'tip': 'mean'}).sort_values(by='size', ascending=False)
tip_by_size

<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Handle missing values using .fillna(), .dropna().</u></li>
</ul>
</p>

In [ ]:
statDF= restTipsDF.describe(include="all")
statDF

In [ ]:
statDF.columns

In [ ]:
statDF.iloc[1,0] = statDF["total_bill"].mode().count()
statDF["total_bill"]

In [ ]:
# In Pandas, the df.fillna() method is used to replace missing values
# (represented as NaN) with specific data. This is a critical step in data
# cleaning to ensure datasets are complete for analysis or machine
# learning models.
# Here, we are filling the missing values with 0


statDF["total_bill"].fillna(0, inplace=True)
statDF

In [ ]:
# In Pandas, the df.dropna() method is used to remove missing values
# (such as NaN, None, or NaT) from a DataFrame. By default, it returns a new
# DataFrame with any row containing at least one missing value removed.

# In the below code, we are removing columns from the DataFrame which have
# more than 50% missing values. This is achieved by setting the axis parameter
# to 1 (indicating columns) and the thresh parameter to half the length of the
# DataFrame. The inplace parameter is set to True, which means the changes will
# be applied directly to the original DataFrame rather than returning a new one.

statDF.dropna(axis=1, thresh=len(statDF)//2, inplace=True)
statDF

<h3 style="font-family: 'Segoe UI', Roboto, Arial; font-size:28px; margin:0; background: -webkit-linear-gradient(90deg,#0f172a,#4f46e5); -webkit-background-clip: text; color: transparent;">4. Data Preprocessing & Transformation:</h3>
<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Normalize numerical columns using NumPy operations.</u></li>
</ul>
</p>

In [ ]:
tips_DF = restTipsDF.copy()
tips_DF.describe()

In [ ]:
tips_DF.info()

In [ ]:
def normalize_numerical_columns(df, columns):
    """
    Normalize specified numerical columns in a DataFrame using Min-Max scaling.

    Parameters:
    df (pd.DataFrame): The input DataFrame containing the data to be normalized.
    columns (list): A list of column names to be normalized.

    Returns:
    pd.DataFrame: A DataFrame with the specified columns normalized.
    """
    df_normalized = df.copy()
    for col in columns:
        min_val = df_normalized[col].min()
        max_val = df_normalized[col].max()
        df_normalized[col] = (df_normalized[col] - min_val) / (max_val - min_val)
        #print(f"Normalized column: {col}")
        #print(df_normalized[col].head())
    return df_normalized

In [ ]:
num_cols = tips_DF.select_dtypes(include=np.number).columns.tolist()
tips_DF = normalize_numerical_columns(tips_DF, num_cols)

In [ ]:
tips_DF

In [ ]:
tips_DF.describe()


<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Apply transformations like log() scaling.</u></li>
</ul>
</p>

In [ ]:
for col in num_cols:
    tips_DF[col] = np.log1p(tips_DF[col])

tips_DF.describe()


<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Convert categorical variables into numerical format using Pandas .get_dummies().</u></li>
</ul>
</p>

In [ ]:
str_cols = tips_DF.select_dtypes(include="object").columns.tolist()
str_cols

In [ ]:
#tips_DF1 =pd.get_dummies(tips_DF, columns=str_cols, drop_first=True, dtype=np.uint8)
tips_DF1 =pd.get_dummies(tips_DF, columns=str_cols, drop_first=True)
tips_DF1.head()

In [ ]:
tips_DF1.info()

In [ ]:
tips_DF1.describe()

In [ ]:
tips_DF1.corr()

<h3 style="font-family: 'Segoe UI', Roboto, Arial; font-size:28px; margin:0; background: -webkit-linear-gradient(90deg,#0f172a,#4f46e5); -webkit-background-clip: text; color: transparent;">5. Exploratory Data Analysis (EDA):</h3>
<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Generate summary statistics using .describe().</u></li>
</ul>
</p>

In [ ]:
restTipsDF.describe()


<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Visualize distributions using Pandas built-in plotting functions.</u></li>
</ul>
</p>

In [ ]:
# Box plot for Tip Amount
# A box plot (or box-and-whisker plot) is a standardized way of displaying
# the distribution of data based on a five-number summary: minimum, first
# quartile (Q1), median, third quartile (Q3), and maximum.
# It helps to visualize the spread and skewness of the data, as well as
# identify potential outliers.

restTipsDF["tip"].plot(kind='box', title='Box plot for Tip Amount')
plt.show()

In [ ]:
# Box plot for Tip Amount by Gender
# A box plot (or box-and-whisker plot) is a standardized way of displaying
# the distribution of data based on a five-number summary: minimum, first
# quartile (Q1), median, third quartile (Q3), and maximum.
# It helps to visualize the spread and skewness of the data, as well as
# identify potential outliers.
# Here, we are plotting box plot for Tip Amount segregated by Gender

tipByGender = restTipsDF[["sex","tip"]]
tipByGender.boxplot(column='tip', by='sex')
plt.title('Distribution of Tip by Gender') # Overall title
plt.suptitle('') # Removes the default "Boxplot grouped by..." auto-title
plt.xlabel('Gender')
plt.ylabel('Tip Amount')
plt.show()

In [ ]:
# Box plot for Tip Amount by Gender and Smoker
# A box plot (or box-and-whisker plot) is a standardized way of displaying
# the distribution of data based on a five-number summary: minimum, first
# quartile (Q1), median, third quartile (Q3), and maximum.
# It helps to visualize the spread and skewness of the data, as well as
# identify potential outliers.
# Here, we are plotting box plot for Tip Amount segregated by Gender and Smoker

restTipsDF[["sex","tip", "smoker"]].boxplot(column="tip", by=["sex", "smoker"])
plt.title('Distribution of Tip by Gender and Smoker') # Overall title
plt.suptitle('') # Removes the default "Boxplot grouped by..." auto-title
plt.xlabel('Gender wise Smoker Status')
plt.ylabel('Tip Amount')
plt.show()

In [ ]:
# Bar plot for Average Tip by Size of the Party
# A bar plot is a graphical representation that uses rectangular bars to
# display and compare the frequency, count, or other measures (like mean,
# sum) across different categories or groups. The length or height of each
# bar is proportional to the value it represents, making it easy to visualize
# differences between categories.
# Here, we are plotting bar plot for Average Tip by Size of the Party

tipBySize=tip_by_size.reset_index()
tipBySize.plot(x='size', y='tip', kind='bar', title='Average Tip by Size of the Party')
plt.xlabel('Size of the Party')
plt.show()

In [ ]:
# Box plot for Tip Amount by Group Size
# A box plot (or box-and-whisker plot) is a standardized way of displaying
# the distribution of data based on a five-number summary: minimum, first
# quartile (Q1), median, third quartile (Q3), and maximum.
# It helps to visualize the spread and skewness of the data, as well as
# identify potential outliers.
# Here, we are plotting box plot for Tip Amount segregated by Group Size

tipByGender = restTipsDF[["size","tip"]]
tipByGender.boxplot(column='tip', by='size')
plt.title('Distribution of Tip by Group Size') # Overall title
plt.suptitle('') # Removes the default "Boxplot grouped by..." auto-title
plt.xlabel('Group Size')
plt.ylabel('Tip Amount')
plt.show()

In [ ]:
# Creating a custom figure size of 24 X 7 inches
fig, ax  = plt.subplots(figsize=(24, 7))

# Using magic of pandas line() function
tip_by_size.plot(kind='line', linestyle='-.', ax=ax)

# Labelling x-axis with a custom label and size of 14
plt.xlabel(xlabel='Team Size', size=16)

# Labelling y-axis with a custom label and size of 14
plt.ylabel(ylabel='Average Tip', size=16)

# Labelling title with a custom label and size of 16
plt.title(label='Variation of Tip Across Different Team Size', size=20)

plt.show()

In [ ]:
fig, axis = plt.subplots(figsize=(10, 5))   # figsize =(w, h)

restTipsDF['sex'].value_counts().plot(kind='bar',
                                       ax=axis  # canvas / axis
                                      )
plt.ylabel("Population Distribution")
plt.xlabel("Gender")
plt.title("Population distribution among different gender")
plt.tight_layout()

In [ ]:
# Scatter Plot for Total Bill vs Tip Amount
# A scatter plot is a type of data visualization that uses Cartesian coordinates
# to display values for two variables for a set of data. The data are displayed
# as a collection of points, each having the value of one variable determining
# the position on the horizontal axis and the value of the other variable
# determining the position on the vertical axis. Scatter plots are used to
# observe relationships between variables and identify patterns, trends,
# correlations, or outliers within the data.
# This code creates a complex multivariate scatter plot using the Seaborn
# and Matplotlib libraries to visualize five different variables at once.
# The x-axis represents the 'total_bill', the y-axis represents the 'tip',
# the color (hue) of the points indicates the 'sex' of the customer, the shape
# (style) of the points indicates whether the customer is a 'smoker' or not,
# and the size of the points represents the 'size' of the dining party.


sns.scatterplot(x=restTipsDF['total_bill'],
                y=restTipsDF['tip'],
                hue=restTipsDF['sex'],
                style=restTipsDF['smoker'],
                size=restTipsDF['size'])
plt.xlabel("Total Bill")
plt.ylabel("Tips")
plt.legend(bbox_to_anchor=(1.05, 1), loc='upper left')
plt.show()


<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Find correlations between numerical features using np.corrcoef().</u></li>
</ul>
</p>

In [ ]:
restTipsDF.corr(numeric_only=True)

<h3 style="font-family: 'Segoe UI', Roboto, Arial; font-size:28px; margin:0; background: -webkit-linear-gradient(90deg,#0f172a,#4f46e5); -webkit-background-clip: text; color: transparent;">6. Fine-tuning and Optimization:</h3>
<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Optimize DataFrame performance by changing data types (astype() for memory reduction).</u></li>
</ul>
</p>

In [ ]:
tips_DF1.info()

In [ ]:
tips_DF1["sex_Male"] = tips_DF1["sex_Male"].astype(np.uint8)
tips_DF1["smoker_Yes"] = tips_DF1["smoker_Yes"].astype(np.uint8)
tips_DF1["day_Sat"]= tips_DF1["day_Sat"].astype(np.uint8)
tips_DF1["day_Sun"]= tips_DF1["day_Sun"].astype(np.uint8)
tips_DF1["day_Thur"]= tips_DF1["day_Thur"].astype(np.uint8)
tips_DF1["time_Lunch"]= tips_DF1["time_Lunch"].astype(np.uint8)
tips_DF1.info()

In [ ]:
restTipsDF.info()

In [ ]:
tips_DF1.info()

**Conclussion:** As a aftermath of normalization and convertion of categorical data into numerical data type
has resulted into reduction of memory usage from 13.5 KB to 7.3 KB.


<p style="margin:8px 0 0; color:#334155; font-size:16px;">
<ul>
<li><u>Compare execution speeds using %%timeit in Jupyter Notebook.</u></li>
</ul>
</p>

In [ ]:
%%timeit
tips_data = restTipsDF.copy()
num_cols = tips_data.select_dtypes(include=np.number).columns.tolist()
tips_data = normalize_numerical_columns(tips_data, num_cols)